.tree {
  font-family: inherit;
}

.dir {
  font-family: inherit;
}

.dirHeader {
  font-family: inherit;
}

.dirLabel {
  font-family: inherit;
}

.dirContents {
  font-family: inherit;
}

.file {
  font-family: inherit;
}
