@import "config";

%slider-bar {
  overflow: visible;
  background: $slider_bar_color;
  .horizontal, .horizontal & {
    height: $slider_bar_size;
    //margin-top: #{$slider_handle_size / 2};
    //margin-bottom: #{($slider_handle_size / 2) - $slider_bar_size};
  }

  .vertical, .vertical & {
    width: $slider_bar_size;
    //margin-left: #{$slider_handle_size / 2};
    //margin-right: #{($slider_handle_size / 2) - $slider_bar_size};
  }

  position: relative;
}

.slider {
  box-sizing: border-box;
  background: #fff;
  & * {
    box-sizing: border-box;
  }
  display: block;
  position: relative;
  padding: $slider_padding $slider_handle_size;
  cursor: -webkit-grab;
  cursor: grab;
  user-select: none;

  &.moving, &:focus {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }

  &.horizontal {
    width: 100%;
  }

  &.vertical {
    height: 100%;
  }
}

.inner {
  position: relative;
  z-index: 0;
  .horizontal & {
    width: 100%;
  }
  .vertical & {
    height: 100%;
  }
}

.bar {
  @extend %slider-bar;
  .horizontal & {
    padding-right: $slider_handle_size / 4;
    width: 0%;
  }
  .vertical & {
    padding-top: $slider_handle_size / 4;
    height: 0%;
    position: absolute;
    bottom: 0;
  }
  z-index: 1;
  background: none;
  &:after {
    content: ' ';
    display: block;
    height: 100%;
    width: 100%;
    background: $slider_bar_color;
  }
}

.rail {
  @extend %slider-bar;

  background: $slider_rail_color;
  z-index: 0;

  .horizontal & {
    width: 100%;
  }
  .vertical & {
    height: 100%;
  }
}

.handle  {
  transition: all .1s cubic-bezier(0.1, 0.8, 0.6, 0.1);
  width: $slider_handle_size / 2;
  height: $slider_handle_size / 2;
  position: absolute;

  border: .2rem solid $slider_bar_color;
  z-index: $slider_handle_layer_postion;


  .horizontal & {
    margin-right: -#{$slider_handle_size / 4};
    margin-top: -#{$slider_handle_size / 4};
  }

  .vertical & {
    margin-left: -#{$slider_handle_size / 4};
    margin-top: -#{$slider_handle_size / 4};
  }

  border-radius: $slider_handle_size;
  background: $slider_background_color;

  .moving & , :focus & {
    background: rgba($slider_bar_color, 1);
  }

  .horizontal & {
    right: 0;
  }
  .vertical & {
    top: 0;
  }
}

.ripple {
  transition: all .1s cubic-bezier(0.1, 0.8, 0.6, 0.1);
  height: 100%;
  width: 100%;
  background: rgba($slider_bar_color, 0);
  border-radius: $slider_handle_size;

  .moving & , :focus & {
    background: rgba($slider_bar_color, .5);
    transform: scale(4);
  }
}

.innerHandle {
  width: #{$slider_handle_size  / 2};
  height: #{$slider_handle_size  / 2};
  position: absolute;
  top: 50%;
  left: 50%;
  .horizontal & {
    margin-top: -#{$slider_handle_size  / 4};
    margin-left: -#{$slider_handle_size  / 4};
  }
  .vertical & {
    margin-bottom: -#{$slider_handle_size  / 4};
    margin-left: -#{$slider_handle_size  / 4};
  }
  border-radius: #{$slider_handle_size};

  background: rgba(#00BCD4, 0.5);
}
