* {
 box-sizing: border-box;
}
html {
 font-size: 62.5%;
 height: 100%;
}

body {
 font-size: 1.6rem;
 line-height: 1.6;
 height: 100%;
 #root {
  height: 100%;
 }
 & > div {
  height: 100%;
 }
}


hr {
 border: none;
 height: .1rem;
 background: lightgrey;
}

