* {
 box-sizing: border-box;
}
html {
 font-size: 62.5%;
 height: 100%;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
 font-size: 1.6rem;
 line-height: 1.6;
 height: 100%;
 #root {
  height: 100%;
 }
 & > div {
  height: 100%;
 }
}


hr {
 border: none;
 height: .1rem;
 background: lightgrey;
}

